footer{display: grid;
      gap:10px;
      grid-template-columns: repeat(6,1fr);
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "TT_Norms_Pro",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Roboto,Oxygen-Sans,"Fira Sans","Droid Sans",Ubuntu,Cantarell,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


footer ul li{
    list-style-type: none;
    margin-left: -40px; 
    line-height: 40px;
}


footer a,footer h3{color:white;
    line-height: 50px;
          }


footer ul li:hover{text-decoration: underline;
                   text-underline-offset: 4px;
                   }
footer a:hover{color: #08cf65}

footer a{
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
}

.footer_div{background-color:#0c3245  ;
  width: 100%;
}

.sh_store_img,.sh_logo_img{display: flex;
              width: 50%;
              padding-bottom: 15px;
             justify-content: center;
           }
.sh_store_img img{width: 22%;
                margin-left: 2%;
               align-items: center;}

.sh_logo_img img{width: 10%;
                 border-radius: 80%;
                 margin-left: 2%;
                 text-align: center;
                 background-color: white;}
.sh_logo_img img:hover{background-color:green;
                       cursor: pointer;}
.last_div_sh{display: flex;
             width: 100%;
             margin: auto;
            padding-bottom: 50px;}





/*----------- mid screen --------------------------------------------*/
@media(min-width: 600px) and (max-width: 1200px) {
   footer{grid-template-columns: repeat(3,1fr);}

   .last_div_sh{
    flex-direction: column;
    }
  
  }
  
  
  
  
  /*---- small screen -------------------------------------------*/
  @media(min-width: 200px) and (max-width: 599px) {
    footer{grid-template-columns: repeat(1,1fr);}
    .last_div_sh{
      flex-direction: column;
      }
  
  }
  
  
  