
*{
    font-family: "TT_Norms_Pro","Segoe UI", "Fira Sans";
}

.intro{
    /* border: 1px solid; */
    background-image: url("https://web-static.wrike.com/cdn-cgi/image/height=2000,width=1620,format=auto,quality=100/tp/static/assets/img/pricing-images/pricing-intro-image-no-borders.png");
    width: 100%;
    height: 250px;
    font-size: 60px;
    line-height: 56px;
    font-weight: 700px;
    text-align: center;
    margin: auto;
    padding: auto;
    color: #181f38;
    align-items: center;
    display: block;
    justify-content: center;
    padding-top: 3%;
}


.pricing-card-wrapper{
    border: 1px solid red;
    margin: auto;
    display: flex;
    padding-bottom: 4%;
    width: 78%;
}

.pricing-card{
    border: 1px solid green;
    margin: 1px;
    width: 20%;
}

/* pricing cards section -----------------------*/
.card-one, .card-two, .card-three, .card-four{  
    border: 1px solid ;
} 

.card-one{
    width: auto;
    height: 160px;
}


/* .pricing-card h2{
    font-size: 25px;
    line-height: 70px;
    font-weight: 700px;
} */

/* .pricing-card p{
    line-height: 28px;
    font-weight: 500px;
    font-size: 18px;
     color: #2b3857; 
} */

/* .pricing-card li{
    cursor: pointer;
    text-decoration: dotted;
} */

button{
    cursor: pointer;
}

.pricing-banner{
    /* border: 1px solid; */
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebf5f3;
    width: 78%;
    height: 130px;
    margin: auto;
}

.banner-img{
    width: 15%;
    height: 128px;
}

.pricing-banner > div{
    padding-top: 2%;
    margin: 0 auto 8px;
    line-height: 15px;
    font-weight: 500px;
    font-size: 25px;
}

.pricing-banner > div > p{
    color: #007860;    
}

.pricing-note, 
.logo-text, 
.add-on-text > p,
.signup-section p{
    /* border: 1px solid; */
    text-align: center;
    line-height: 28px;
    font-weight: 500px;
    font-size: 18px;
    color: #2b3857;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 3%;
}

.logo-roll{
    /* border: 1px solid; */
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
}

.logo-roll > img{
    margin: auto;
    justify-content: space-between;
    /* margin: 70px 3px 0 35px; */
}

.add-on{
    /* border: 1px solid red ; */
    background-color : #ebf5f3;
    height: auto;
    width: 100%;
    margin-top: 8%;
    padding-bottom: 6%;
}

.add-on-text ,
.slider-heading{
    /* border: 1px solid; */
    width: 60%;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
    font-weight: 700px;
    padding-top: 3%;
    margin: auto;
    padding: auto;
    color: #181f38;
}

.add-on-cardwrap{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    padding-top: 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 49.5%);
    gap: 15px;
}

.add-on-card{
    /* border: 1px solid; */
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin: 2%;
    padding: 5%;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700px;
}

.add-on-card div > h5{
    font-size: 26px;
}

.add-on-card div > h5, p, span{
    /* border: 1px solid red ; */
    margin-left: 20px;
}

.add-on-cardwrap :hover{
    cursor: pointer;
    background-color: #04454d;
    color: white;
}

.signup-section {
    /* border: 1px solid ; */
    display: flex;
}

.signup-section h2{
    /* border: 1px solid; */
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 42px;
    line-height: 70px;
    font-weight: 700px;
    padding-top: 3%;
    margin: auto;
    padding: auto;
}

.input_button{
    /* border: 1px solid ; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.input_button > input{
    width: 350px;
    height: 60px;
    font-size: 18px;
    border-radius: 12px;
    border-color: #c1c9d8;
    /* line-height: 32px; */
    padding: 2px 0 2px 20px;
    margin: auto;
}

.input_button > button{
    margin-left: 15px;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    border: none;
    background-color: #08cf56;
    border-color: #08cf56;
    color: white;
    font-size: 25px;
    line-height: 28px;
    padding: 14px 22px;
}

.leader-content{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: auto;
    padding-top: 2%;
}

.faq-section{
    border: 1px solid;
    background-color: #ebf5f3;    
}
