/* *{
    margin:0px
} */
#cont{
    display:flex;
    width:80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 40px;
}

#webi{
    width:20%;
    margin-top: 150px;
    margin-left:10%;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color:  rgb(10, 97, 90);
    font-family: TT_Norms_Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#cont2{
    border:0px;
    border-radius: 8px;
    width:65%
    
}
#cont2>iframe{
    width:100%;
    height:425px;
    border-radius: 15px;
}
#about{
    margin-top: 40px;
    margin-left:10%;
    padding-right: 20px;
}
.vid{
    /* margin-right: 30px; */
    width:30%;
    
}
.vid>h3{
    /* width:100%; */
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color:  rgb(24, 31, 56);
    font-family: TT_Norms_Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.vid>p{
    font-size: 18px;
    padding-top: 2px;
    font-weight: 400;
    line-height: 32px;
    color:  rgb(43, 56, 87);
    font-family: TT_Norms_Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#about>h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 50px;
    color:  rgb(10, 97, 90);
    font-family: TT_Norms_Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#about>p{
    font-size: 18px;
    padding-top: 2px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
    color:  rgb(43, 56, 87);
    font-family: TT_Norms_Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#webi>p:hover{
    cursor: pointer;
    color: rgb(0, 120, 96)
}
#about>h3:hover{
    cursor: pointer;
    color: rgb(0, 120, 96)
}
#bottom{
    background-color: rgb(235, 245, 243);
    width:100%;
    /* height:500px; */
    margin: auto;
    padding-bottom:70px
}
#bot1{
    width:100%;
    /* padding-left: 150px; */
    /* border:1px solid red;  */
    margin: auto;
    text-align: center;
    padding-top: 60px;
    font-family: TT_Norms_Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 44px;
    font-weight: 700;
    Line-height: 60px;
     color: rgb(29, 31, 36);
}


#bot2{
    width:85%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}
#bot2>div{
    /* border: 1px solid red; */
    height:150px;
    margin-top: 50px;
    width:26%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: white;
}
#bot2>div>p{
    font-size: 12px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 20px;
    color:  rgb(43, 56, 87);
    font-family: TT_Norms_Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#bot2>div>h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
    color:   rgb(0, 120, 96);
    font-family: TT_Norms_Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



@media all and (min-width: 500px) and (max-width: 950px) {
    #cont2>iframe{
        width:100%;

    }
    #cont2{
        width:100%
        
    }
    #cont{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .vid{
        
        width:100%;
        /* padding: 20px; */
        padding-top: 20px;
    }
    
    #bot2{
        
        
        display: grid;
        grid-template-columns: repeat(1,fr);
       
    }
    #bot2>div{
        width:90%
    }
}
@media all and (min-width: 100px) and (max-width: 499px) {
    #cont2>iframe{
        width:100%;

    }
    #cont2{
        width:100%
        
    }
    #cont{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .vid{
        
        width:100%;
        /* padding: 20px; */
        padding-top: 20px;
    }
    
    #bot2{
        
        
        display: grid;
        grid-template-columns: repeat(1,fr);
       
    }
    #bot2>div{
        width:90%
    }
}
