@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.Navigation_bar>div:first-child {
    display: flex;
    gap: 1rem;
    margin-left: 15px;
}


.Navigation_bar>div:last-child {
    display: flex;
    gap: 0.61rem;
}

.Navigation_bar {
    display: flex;
    position: absolute;
    width: 98.5%;
    z-index: 30;
    justify-content: space-between;
    height: 3.7rem;
    background-color: #181f38;
    align-items: center;
    padding: 0px 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.Navigation_bar i {
    color: white;
    font-size: 20px;
}

#arrow1,
#arrow2,
#arrow3 {
    font-size: 10px;
    color: rgb(119, 119, 119);
    margin-left: -5px;
    margin-right: -5px;
}

#thumbrack {
    transform: rotate(45deg);
    font-size: 13px;
    margin-left: -10px;
}

.Navigation_bar>div:last-child {
    width: 33%;
}

.Navigation_bar>div:last-child>div:first-child {
    background-color: #323F5E;
    border: none;
    align-items: center;
    display: flex;
    gap: 6px;
    padding: 0px 40px;
    border-radius: 10px;
}

.Navigation_bar>div:last-child>div:first-child>input {
    background-color: #323F5E;
    border: none;
}

.Navigation_bar>div:last-child>div:first-child>i {
    background-color: #323F5E;
    color: rgb(107, 107, 107);
    border: none;
    margin-left: -30px;
}

.button_plus {
    background-color: #08CF65;
    border: none;
    padding: 7px 14px;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    transform: rotate(90deg);
}

.button_question {
    background-color: #181F38;
    border-color: rgb(70, 69, 69);
    font-size: 3rem;
    padding: 5px 8px;
    border-radius: 10px;
    color: white;
    font-size: 19px;
}

.button_grid {
    background-color: #181F38;
    border-color: rgb(70, 69, 69);
    /* box-shadow: none; */
    font-size: 3rem;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 19px;
}

.button_profile {
    background-color: #F57C00;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
    color: white;
    font-size: 19px;
}

.side-bar {
    background: #181f38;
    z-index: 20;
    width: 250px;
    overflow: hidden;
    height: 100vh;
    position: absolute;
}

.side-bar::-webkit-scrollbar {
    width: 0px;
}

.side-bar.active {
    left: 0;
}

.menu>div {
    margin-left: -10px;
}

.side-bar .menu {
    width: 90%;
    margin-top: 10px;
    gap: 5px;
    margin-left: 10px;
}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}


.side-bar i {
    font-size: 12px;
    color: rgb(121, 121, 121);
}

.side-bar .menu .item a {
    color: rgb(194, 192, 192);
    font-size: 13px;
    text-decoration: none;
    display: block;
    padding: 5px 0px;
    line-height: 30px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.rotate {
    transform: rotate(90deg);
}

.side-bar .menu .item a:hover {
    background: #485776;
    transition: 0.3s ease;
    border-radius: 10px;
}

.side-bar .menu .item a .dropdown {
    margin: 7px 20px;
    transition: 0.3s ease;
}


.side-bar .menu .item .sub-menu {
    display: none;
    color: rgb(194, 192, 192);
    font-size: 13px;
    text-decoration: none;
    padding-left: 20px;
    line-height: 30px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.table_div {
    width: 80%;
    display: flex;
    z-index: 20;
    padding-top: 4.7rem;
    padding-left: 17rem;
    gap: 49.5rem;
    align-items: center;
}

.table_div>div:first-child h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}


.table_div>div:last-child {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.table_div button {
    border-radius: 5px;
    padding: 5px 11px;
    background-color: #028564;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table_div button:hover {
    background-color: #006358;
}

.table_div2 {

    width: 80%;
    display: flex;
    z-index: 20;
    padding-left: 17rem;
    margin-top: 23px;
    margin-bottom: 13px;
    align-items: center;
}

.table_div2>div {
    display: flex;
    gap: 2rem;
}

.table_div2>div a {
    text-decoration: none;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table_div2>div i {
    font-size: 12px;
    margin-right: 7px;
}

.table_div3 {
    width: 80%;
    display: flex;
    z-index: 20;
    padding-left: 17rem;
    align-items: center;
}

.table_div3>div {
    display: flex;
    gap: 2rem;
}

.table_div3>div a {
    text-decoration: none;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table_div3>div i {
    font-size: 12px;
    margin-right: 7px;
}

.table_div3 .sub-menu {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-decoration: none;
    padding-left: 20px;
    line-height: 30px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.table_div3 a .dropdown {
    margin: 7px 20px;
    transition: 0.3s ease;
}


.table_div3 {
    cursor: pointer;
}

.table_div3 a {
    color: rgb(77, 76, 76);
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 5px 0px;
    line-height: 30px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 14px;
    transition: .5s;
}

nav ul li a:hover,
nav ul li a.active {
    color: grey;
}

nav ul ul {
    position: absolute;
    /* top: 65px; */
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
    overflow: hidden;
}

nav ul ul li {
    width: 170px;
    display: list-item;
    position: relative;
    list-style: none;
    background-color: white;
    padding-left: 15px;
    border-top: none;
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul {
    border-top: none;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
    width: 100%;
}

nav ul ul li a i {
    margin-left: 45px;
}

nav ul ul li:hover {
    background-color: #181F38;
    color: white;
}

nav ul ul li a input {
    margin-right: 10px;
}

.fl-table {
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    padding: 8px 15px;
    border: 1px solid rgb(212, 212, 212);
}

.tb_series {
    text-align: center;
    width: 5%;
}


.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    border: 1px solid rgb(212, 212, 212);
}

.fl-table thead th {
    color: black;
}


.fl-table thead th:nth-child(odd) {
    color: black;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


.table_div4 {
    width: 82%;
    display: flex;
    z-index: 20;
    margin-top: -2px;
    padding-left: 15rem;
    align-items: center;
}